#
# Caelus Python Library (CPL) pip requirements file
#
# Development environment version
#

#### Core packages for CPL
pip
six
numpy
scipy
pandas
matplotlib
PyYAML
pytz
Jinja2
#### Additional packages for development
pytest
pylint
Sphinx
