name: CPL

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  coverage:
    name: Build, test, docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python 3.0
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt
          python -m pip install -e .
          python -m pip install pylint black isort
      - name: isort
        run: |
          echo "::group::isort"
          echo "::add-matcher::.github/matchers/isort.json"
          python -m isort --check-only --diff caelus tests
          echo "::endgroup::"
      - name: black
        run: |
          echo "::group::black"
          echo "::add-matcher::.github/matchers/black.json"
          python -m black --check --diff --color caelus tests
          echo "::endgroup::"
      - name: Run tests
        run: |
          python -m pytest tests/
      - name: Run docs
        run: |
          echo "::group::Install sphinx depdencies"
          python -m pip install sphinx
          cd ./docs/
          echo "::endgroup::"
          make html
          touch build/html/.nojekyll
      - name: Deploy docs
        if: github.event_name == 'push'
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          token: {{ secrets.GITHUB_TOKEN }}
          folder: ./docs/build/html
          single-commit: true

  build:
    strategy:
      matrix:
        python-version: ["3.11", "3.12"]

    runs-on: ubuntu-latest
    name: Test Python ${{ matrix.python-version }}
    needs: [ coverage ]
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt
          python -m pip install -e .
      - name: Run tests
        run: |
          python -m pytest tests/

  check_os:
    strategy:
      matrix:
        os: [macos-latest, windows-latest]
        python-version: ["3.11"]

    runs-on: ${{ matrix.os }}
    name: Test (${{ matrix.os }} - Python ${{ matrix.python-version }})
    needs: [ coverage ]
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt
          python -m pip install -e .
      - name: Run tests
        run: |
          python -m pytest tests/

  coveralls:
    runs-on: ubuntu-latest
    needs: [ coverage ]
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python 3.0
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt
          python -m pip install coveralls pytest-cov
          python -m pip install -e .
      - name: Run coverage
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          coverage run --source=caelus -m pytest tests/
          coveralls --service=github
